/.quarto/
_site/

# R build artifacts
.Rhistory
.RData
.Rproj.user/
.Ruserdata
*.Rproj

# Python junk
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS / editor junk
.DS_Store

# Quarto temp artifacts
**/*.quarto_ipynb
data/shot_explorer_sample.csv
